.attribution {
  bottom: 0;
  // font-size: $font-size-175;
  // padding: $space-200 0;
  // position: absolute;
  text-align: center;

  &__link {
    // color: $orange;
    text-decoration: none;
  }
}
