.ntf-card {
  background-color: $blue;
  border-radius: $border-radius-1;
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
  @include flex-column($space-1_5);
  max-width: 21.875rem;
  padding: $space-1_5;

  @include respond-to($breakpoint) {
    padding-bottom: $space-2;
  }

  &__image-container {
    position: relative;

    &:hover .ntf-card__overlay-image {
      opacity: 1;
    }
  }

  &__image {
    aspect-ratio: 1/1;
    border-radius: $border-radius-0_5;
    cursor: pointer;
    display: block;
    object-fit: cover;
  }

  &__overlay-image {
    align-items: center;
    background-color: $cyan-50;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s;
    top: 0;
    width: 100%;
  }

  &__content,
  &__main {
    @include flex-column($space-1);

    @include respond-to($breakpoint) {
      @include flex-column($space-1_5);
    }
  }

  &__text-container {
    @include flex-column($space-0_75);

    @include respond-to($breakpoint) {
      @include flex-column($space-1_125);
    }
  }

  &__currancy-name {
    color: $white;
    cursor: pointer;
    font-size: $font-size-1_375;
    font-weight: 600;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $cyan;
    }
  }

  &__currancy-description {
    color: $soft-blue;
    font-weight: 300;
    line-height: $line-height-160;

    @include respond-to($breakpoint) {
      font-size: $font-size-1_125;
      line-height: $line-height-145;
    }
  }

  &__wrapper {
    @include flex-row();
    justify-content: space-between;
  }

  &__price-container,
  &__time-container {
    @include flex-row($space-0_375);
    align-items: center;

    @include respond-to($breakpoint) {
      @include flex-row($space-0_5);
    }
  }

  &__price {
    color: $cyan;
    font-size: $font-size-1;
    font-weight: 600;
    letter-spacing: $letter-spacing_-03;

    @include respond-to($breakpoint) {
      letter-spacing: $letter-spacing_02;
    }
  }

  &__time {
    letter-spacing: $letter-spacing_-03;

    @include respond-to($breakpoint) {
      letter-spacing: 0;
    }
  }

  &__footer {
    @include flex-column($space-1);
  }

  &__separator {
    border-top: 1px solid $light-blue;
  }

  &__author-container {
    @include flex-row();
    align-items: center;
    gap: $space-1;
  }

  &__avatar {
    border: 1px solid $white;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
  }

  &__author-name {
    color: $white;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $cyan;
    }
  }
}
