.ntf-card {
  background-color: $blue;
  border-radius: $border-radius-1;
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
  @include flex-column($space-1_5);
  max-width: 21.875rem;
  padding: $space-1_5;

  &__image {
    border-radius: $border-radius-0_5;
    display: block;
    object-fit: cover;
  }

  &__content,
  &__main {
    @include flex-column($space-1);
  }

  &__text-container {
    @include flex-column($space-0_75);
  }

  &__currancy-name {
    color: $white;
    font-size: $font-size-1_375;
    font-weight: 600;
  }
}
